@*@model Backend.Viewmodels.UsersViewmodel*@
@{
    ViewBag.Title = "Index";
}
<style>
    table tbody tr, table thead tr { cursor: pointer; }
</style>
<div class="w3-container">
    <div class="w3-row w3-margin-top w3-card w3-padding">
        <div class="w3-col m10">
            <input placeholder="Søg" id="searchUser" class="w3-input w3-border" />
        </div>
        <div class="w3-col m2">
            <a href="/users/create" class="w3-button w3-blue w3-right">Opret bruger</a>
        </div>
    </div>
    <div class="w3-row w3-margin-top">
        <div class="w3-col m12" id="userContainer">
            <table class="w3-table-all w3-card w3-hoverable">
                <thead>
                    <tr>
                        <td>Værelse Nr</td>
                        <td>Fornavn</td>
                        <td>Efternavn</td>
                        <td>Email</td>
                        <td>Type</td>
                    </tr>
                </thead>
                <tbody data-total="0" data-page="0" data-pagesize="5" data-sort="AscNavn" data-searchtext=""></tbody>
                @*@{ Html.RenderPartial("_UserTable", Model);}*@
                <tfoot>
                    <tr>
                        <td><button data-command="prev" class="w3-button w3-white w3-border w3-border-gray w3-tiny">Forige</button></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button data-command="next" class="w3-button w3-white w3-border w3-border-gray w3-tiny w3-right">Næste</button></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div id="userEdit" class="w3-row w3-margin-top w3-animate-zoom" style="display: none">
        <div class="w3-col m12">
            <div class="w3-card w3-padding">
                <div class="w3-row">
                    <div class="w3-col m3">
                        <img src="" style="max-width: 200px; max-height: 200px;"/>
                    </div>
                    <div class="w3-col m7">.
                        <label data-name="fullname"></label>
                        <label data-name="email"></label>
                        <label data-name="role"></label>
                    </div>
                    <div class="w3-col m2">
                        <button id="deleteUser" class="w3-button w3-red w3-right w3-margin-left">Slet</button>
                        <a href="" class="w3-button w3-blue w3-right">Rediger</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(function() {
            $('table tbody tr').on('click',
                function() {
                    $(this).parent().children('.w3-blue').removeClass('w3-blue');
                    $(this).addClass('w3-blue');
                    var userid = $(this).data('id');
                    $('#userEdit div div img').attr('src', '/Image/UserImage/' + userid);
                    $('#userEdit div div:nth-child(3) a').attr('href', '/Users/Rediger/' + userid);
                    $('#userEdit').css('display', 'block');
                });

            $('#deleteUser').on('click',
                function() {
                    var row = $('table tbody tr.w3-blue');
                    var userid = row.data('id');
                    $.ajax({
                        url: '/Users/Delete?userid=' + userid,
                        type: 'post',
                        success: function(check) {
                            if (check) {
                                row.remove();
                                $('#userEdit').css('display', 'none');
                                swal({
                                    title: 'Succes',
                                    text: 'Bruger er blevet slettet',
                                    type: 'success'
                                });
                            }
                        }
                    });
                });

            $('#searchUser').on('keydown',
                function (e) {
                    //Hvis enter er blevet trykket
                    if (e.keyCode === 13) {
                        var searchValue = $(this).val();
                        var tableHeader = $('#userContainer table thead');
                        $.ajax({
                            url: '/Users/Index',
                            type: 'post',
                            data: {
                                searchText: searchValue,
                                sort: tableHeader.data('sort'),
                                pageSize: tableHeader.data('pagesize'),
                                offSet: 0
                            },
                            success: function(data) {
                                $('#userContainer').html(data);
                                $('a[data-action]').on('click', SortAble);
                            }
                        });
                    }
                });

            $('a[data-action]').on('click', SortAble);

            var userTable = $('#userContainer table');
            var userTbody = userTable.children('tbody');
            window.userPageState = {
                page: parseInt(userTbody.data('page')),
                pageSize: userTbody.data('pagesize'),
                sort: userTbody.data('sort'),
                searhText: userTbody.data('searchtext'),
                total: 0
            }

            userTable.find('tfoot button').on('click', function () {
                if ($(this).data('command') == "prev") {
                    userPageState.page -= 1;
                } else {
                    userPageState.page += 1;
                }
                getPagedUser(userPageState.page, userPageState.pageSize, userPageState.sort, userPageState.searchText, TableEvents);
            });

            startTables();
        });

        function startTables() {
            getPagedUser(userPageState.page, userPageState.pageSize, userPageState.sort, userPageState.searchText, TableEvents);
        }
        
        function getPagedUser(page, pageSize, sort, searchText, eventCallBack) {
            $.ajax({
                url: 'http://localhost:52856/api/users/getpageduser',
                type: 'post',
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify({
                    page: page,
                    pageSize: pageSize,
                    sort: sort,
                    searchText: searchText
                }),
                success: function (data) {
                    var user = data.User;
                    userPageState.total = data.Total;
                    var html = "";
                    for (var i = 0; i < user.length; i++) {
                        //var type = user[i].Type.Name;
                        html += "<tr data-id=" +
                            user[i].id +
                            "><td>" +
                            user[i].Fornavn +
                            "</td><td>" +
                            user[i].Efternavn +
                            "</td><td>" +
                            user[i].VærelseNr +
                            "</td><td>" +
                            user[i].Email +
                            "</td><td>" +
                            //type +
                            "</td></tr>";
                    }
                    $('#userContainer table tbody').html(html);
                    eventCallBack();
                    disableButtons('userContainer', userPageState.page, userpageState.pageSize, userPageState.total);
                }
            });
        }

        function disableButtons(id, page, pageSize, total) {
            if (page == 0) {
                $('#' + id + ' table tfoot button[data-command=prev]').addClass('w3-disabled');
            } else {
                $('#' + id + ' table tfoot button[data-command=prev]').removeClass('w3-disabled');
            }
            if (page * pageSize + pageSize >= total) {
                $('#' + id + ' table tfoot button[data-command=next]').addClass('w3-disabled');
            } else {
                $('#' + id + ' table tfoot button[data-command=next]').removeClass('w3-disabled');
            }
        }

        function TableEvents() {
            $('table tbody tr').on('click',
                function () {
                    $('tbody tr.w3-blue').removeClass('w3-blue');
                    $(this).addClass('w3-blue');
                });

            $('#userContainer tbody tr').on('click',
                function () {
                    $.ajax({
                        url: 'http://localhost:52856/api/users/getuser/' + $(this).data('id'),
                        type: 'get',
                        dataType: 'json',
                        success: function (data) {
                            $('#userEdit').css('display', 'block');
                        }
                    });
                });
        }

        function SortAble(e) {
            e.preventDefault();
            var action = $(this).data('action');
            var tableHeader = $('#userContainer table thead');
            $.ajax({
                url: '/Users/Index',
                type: 'post',
                data: {
                    searchText: tableHeader.data('search'),
                    sort: action,
                    pageSize: tableHeader.data('pagesize'),
                    offSet: tableHeader.data('offset')
                },
                success: function(data) {
                    $('#userContainer').html(data);
                    $('a[data-action]').on('click', SortAble);
                }
            });
        }


    </script>

}
