@model Backend.Viewmodels.UsersViewmodel
@{
    ViewBag.Title = "Index";
}
<style>
    table tbody tr, table thead tr { cursor: pointer; }
</style>
<div class="w3-container">
    <div class="w3-row w3-margin-top w3-card w3-padding">
        <div class="w3-col m10">
            <input placeholder="Søg" id="searchUser" class="w3-input w3-border" />
        </div>
        <div class="w3-col m2">
            <a href="/users/create" class="w3-button w3-blue w3-right">Opret bruger</a>
        </div>
    </div>
    <div class="w3-row w3-margin-top">
        <div class="w3-col m12" id="userContainer">
            @{ Html.RenderPartial("_UserTable", Model);}
        </div>
    </div>
    <div id="userEdit" class="w3-row w3-margin-top w3-animate-zoom" style="display: none">
        <div class="w3-col m12">
            <div class="w3-card w3-padding">
                <div class="w3-row">
                    <div class="w3-col m3">
                        <img src="" style="max-width: 200px; max-height: 200px;"/>
                    </div>
                    <div class="w3-col m7" id="infoContainer">
                        &nbsp;
                    </div>
                    <div class="w3-col m2">
                        <button id="deleteUser" class="w3-button w3-red w3-right w3-margin-left">Slet</button>
                        <a href="" class="w3-button w3-blue w3-right">Rediger</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="/Scripts/Paulscripts/loadUserStats.js"></script>
    <script>
        $(function () {
            initEvents();
            

            $('#deleteUser').on('click',
                function() {
                    var row = $('table tbody tr.w3-blue');
                    var userid = row.data('id');
                    $.ajax({
                        url: '/Users/Delete?userid=' + userid,
                        type: 'post',
                        success: function(check) {
                            if (check) {
                                row.remove();
                                $('#userEdit').css('display', 'none');
                                swal({
                                    title: 'Succes',
                                    text: 'Bruger er blevet slettet',
                                    type: 'success'
                                });
                            }
                        }
                    });
                });

            $('#searchUser').on('keydown',
                function (e) {
                    //Hvis enter er blevet trykket
                    if (e.keyCode === 13) {
                        var searchValue = $(this).val();
                        var tableHeader = $('#userContainer table thead');
                        $.ajax({
                            url: '/Users/Index',
                            type: 'post',
                            data: {
                                searchText: searchValue,
                                sort: tableHeader.data('sort'),
                                pageSize: tableHeader.data('pagesize'),
                                offSet: 0
                            },
                            success: function(data) {
                                $('#userContainer').html(data);
                                $('a[data-action]').on('click', SortAble);
                                $('table tfoot button').on('click', changePage);
                                initEvents();
                            }
                        });
                    }
                });

            $('a[data-action]').on('click', SortAble);
            $('table tfoot button').on('click', changePage);

        });

        function changePage() {
            
            var command = $(this).data('command');
            var thead = $('table thead');
            var offset = parseInt(thead.data('offset'));
            var pageSize = parseInt(thead.data('pagesize'));
            var total = parseInt(thead.data('total'));
            if (command == 'prev' && offset > 0) {
                offset -= pageSize;
            } else if (command == 'next' && (pageSize * offset) <= total) {
                offset += pageSize;
            }
            $.ajax({
                url: '/Users/Index',
                type: 'post',
                data: {
                    searchText: thead.data('search'),
                    sort: thead.data('sort'),
                    pageSize: thead.data('pagesize'),
                    offSet: offset
                },
                success: function(data) {
                    $('#userContainer').html(data);
                    $('a[data-action]').on('click', SortAble);
                    $('table tfoot button').on('click', changePage);
                    initEvents();
                }
            });
        }

        function initEvents() {
            $('table tbody tr').on('click',
                function () {
                    $(this).parent().children('.w3-blue').removeClass('w3-blue');
                    $(this).addClass('w3-blue');
                    var userid = $(this).data('id');
                    $('#userEdit div div img').attr('src', '/Image/UserImage/' + userid);
                    $('#userEdit div div:nth-child(3) a').attr('href', '/Users/Rediger/' + userid);
                    //info boks vises, før bruger oversigt hentes, da bruger ikke skal vente for at kunne redigere.
                    $('#userEdit').css('display', 'block');
                    loadUserStats(userid, 'infoContainer');
                });
        }

        function disableButtons(id, page, pageSize, total) {
            if (page == 0) {
                $('#' + id + ' table tfoot button[data-command=prev]').addClass('w3-disabled');
            } else {
                $('#' + id + ' table tfoot button[data-command=prev]').removeClass('w3-disabled');
            }
            if (page * pageSize + pageSize >= total) {
                $('#' + id + ' table tfoot button[data-command=next]').addClass('w3-disabled');
            } else {
                $('#' + id + ' table tfoot button[data-command=next]').removeClass('w3-disabled');
            }
        }

        function SortAble(e) {
            e.preventDefault();
            var action = $(this).data('action');
            var tableHeader = $('#userContainer table thead');
            $.ajax({
                url: '/Users/Index',
                type: 'post',
                data: {
                    searchText: tableHeader.data('search'),
                    sort: action,
                    pageSize: tableHeader.data('pagesize'),
                    offSet: tableHeader.data('offset')
                },
                success: function(data) {
                    $('#userContainer').html(data);
                    $('a[data-action]').on('click', SortAble);
                    $('table tfoot button').on('click', changePage);
                    initEvents();
                }
            });
        }


    </script>

}
