@model Backend.Viewmodels.UsersViewmodel
@{
    ViewBag.Title = "Index";
}
<style>
    table tbody tr, table thead tr {
        cursor: pointer;
    }
</style>
<div class="w3-container">
    <div class="w3-row w3-margin-top w3-card w3-padding">
        <div class="w3-col m10">
            
            <input placeholder="Søg" id="searchUser" class="w3-input w3-border" />
        </div>
        <div class="w3-col m2">
            <a href="/users/create" class="w3-button w3-blue w3-right">Opret bruger</a>
        </div>
    </div>
    <div class="w3-row w3-margin-top">
        <div class="w3-col m12" id="tableContainer">
            @{ Html.RenderPartial("_UserTable", Model);}
        </div>
    </div>
    <div id="userEdit" class="w3-row w3-margin-top w3-animate-zoom" style="display: none">
        <div class="w3-col m12">
            <div class="w3-card w3-padding">
                <div class="w3-row">
                    <div class="w3-col m3">
                        <img src="" style="max-width: 200px; max-height: 200px;"/>
                    </div>
                    <div class="w3-col m7">.
                        <label data-name="fullname"></label>
                        <label data-name="email"></label>
                        <label data-name="role"></label>
                    </div>
                    <div class="w3-col m2">
                        <button id="deleteUser" class="w3-button w3-red w3-right w3-margin-left">Slet</button>
                        <a href="" class="w3-button w3-blue w3-right">Rediger</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(function() {
            $('table tbody tr').on('click',
                function() {
                    $(this).parent().children('.w3-blue').removeClass('w3-blue');
                    $(this).addClass('w3-blue');
                    var userid = $(this).data('id');
                    $('#userEdit div div img').attr('src', '/Image/UserImage/' + userid);
                    $('#userEdit div div:nth-child(3) a').attr('href', '/Users/Rediger/' + userid);
                    $('#userEdit').css('display', 'block');
                });

            $('#deleteUser').on('click',
                function() {
                    var row = $('table tbody tr.w3-blue');
                    var userid = row.data('id');
                    $.ajax({
                        url: '/Users/Delete?userid=' + userid,
                        type: 'post',
                        success: function(check) {
                            if (check) {
                                row.remove();
                                $('#userEdit').css('display', 'none');
                                swal({
                                    title: 'Succes',
                                    text: 'Bruger er blevet slettet',
                                    type: 'success'
                                });
                            }
                        }
                    });
                });

            $('#searchUser').on('keydown',
                function (e) {
                    //Hvis enter er blevet trykket
                    if (e.keyCode === 13) {
                        var searchValue = $(this).val();
                        var tableHeader = $('#tableContainer table thead');
                        $.ajax({
                            url: '/Users/Index',
                            type: 'post',
                            data: {
                                searchText: searchValue,
                                sort: tableHeader.data('sort'),
                                pageSize: tableHeader.data('pagesize'),
                                offSet: 0
                            },
                            success: function(data) {
                                $('#tableContainer').html(data);
                                $('a[data-action]').on('click', SortAble);
                            }
                        });
                    }
                });

            $('a[data-action]').on('click', SortAble);

        });

        function SortAble(e) {
            e.preventDefault();
            var action = $(this).data('action');
            var tableHeader = $('#tableContainer table thead');
            $.ajax({
                url: '/Users/Index',
                type: 'post',
                data: {
                    searchText: tableHeader.data('search'),
                    sort: action,
                    pageSize: tableHeader.data('pagesize'),
                    offSet: tableHeader.data('offset')
                },
                success: function(data) {
                    $('#tableContainer').html(data);
                    $('a[data-action]').on('click', SortAble);
                }
            });
        }
    </script>

}
