@{
    ViewBag.Title = "Index";
}
<style>
    table tbody tr, table thead tr { cursor: pointer; }
</style>
<div class="w3-container">
    <div class="w3-row w3-margin-top w3-card w3-padding">
        <div class="w3-col m10">
            <input placeholder="Søg" id="searchUser" class="w3-input w3-border"/>
        </div>
        <div class="w3-col m2">
            <button id="addProdukt" class="w3-button w3-blue w3-right">Opret produkt</button>
        </div>
    </div>
    <div class="w3-row w3-margin-top">
        <div class="w3-col m6" id="drinkContainer">
            <table class="w3-table-all w3-card w3-hoverable">
                <thead>
                <tr>
                    <td>Navn</td>
                    <td>Oprettet</td>
                    <td>Pris</td>
                </tr>
                </thead>
                <tbody data-total="0" data-page="0" data-pagesize="5" data-sort="AscNavn" data-searchtext="">
                </tbody>
                <tfoot>
                <tr>
                    <td>
                        <button data-command="prev" class="w3-button w3-white w3-border w3-border-gray w3-tiny">Forige</button>
                    </td>
                    <td></td>
                    <td>
                        <button data-command="next" class="w3-button w3-white w3-border w3-border-gray w3-tiny w3-right">Næste</button>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="w3-col m6" id="vareContainer">
            <table class="w3-table-all w3-card w3-hoverable">
                <thead>
                <tr>
                    <td>Navn</td>
                    <td>Oprettet</td>
                    <td>Pris</td>
                </tr>
                </thead>
                <tbody data-total="0" data-page="0" data-pagesize="5" data-sort="AscNavn" data-searchtext=""></tbody>
                <tfoot>
                <tr>
                    <td>
                        <button data-command="prev" class="w3-button w3-white w3-border w3-border-gray w3-tiny">Forige</button>
                    </td>
                    <td></td>
                    <td>
                        <button data-command="next" class="w3-button w3-white w3-border w3-border-gray w3-tiny w3-right">Næste</button>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div id="productInfo" class="w3-row w3-margin-top w3-animate-zoom" style="display: none" data-id="" data-baseUrl="" data-containerId="">
        <div class="w3-col m12">
            <div class="w3-card w3-padding">
                <div class="w3-row">
                    <div class="w3-col m10" id="statisticsContainer">
                        .
                    </div>
                    <div class="w3-col m2">
                        <button id="deleteProduct" class="w3-button w3-red w3-right w3-margin-left">Slet</button>
                        <button id="editProduct" data-type="" class="w3-button w3-blue w3-right">Rediger</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="addProduktModal" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-green">
                <span onclick="document.getElementById('addProduktModal').style.display = 'none'"
                      class="w3-button w3-display-topright">
                    &times;
                </span>
                <h2>Opret nyt produkt</h2>
            </header>
            <div class="w3-container w3-padding">
                <select id="produktToAdd" class="w3-input w3-border">
                    <option value="1">Vare</option>
                    <option value="2">Drink</option>
                </select>
                <input class="w3-input w3-border w3-margin-top" placeholder="Navn" id="produktNavn"/>
                <input class="w3-input w3-border w3-margin-top" placeholder="Pris" id="produktPris"/>
            </div>
            <footer class="w3-container">
                <button class="w3-button w3-red w3-right w3-margin-left w3-margin-bottom" onclick="document.getElementById('addProduktModal').style.display = 'none'">Annuller</button>
                <button class="w3-button w3-blue w3-right w3-margin-bottom">Opret</button>
            </footer>
        </div>
    </div>
    <div id="editProduktModal" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-green">
                <span onclick="document.getElementById('editProduktModal').style.display = 'none'"
                      class="w3-button w3-display-topright">
                    &times;
                </span>
                <h2>Rediger produkt</h2>
            </header>
            <div class="w3-container w3-padding" id="body">
                <input class="w3-input w3-border w3-margin-top" placeholder="Navn" data-id="produktNavn"/>
                <input class="w3-input w3-border w3-margin-top" placeholder="Pris" data-id="produktPris"/>
            </div>
            <footer class="w3-container">
                <button class="w3-button w3-red w3-right w3-margin-left w3-margin-bottom" onclick="document.getElementById('editProduktModal').style.display = 'none'">Annuller</button>
                <button class="w3-button w3-blue w3-right w3-margin-bottom">Gem</button>
            </footer>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function() {

            $('#deleteProduct').on('click',
                function() {
                    var id = $('#productInfo').data('id');
                    var baseUrl = $('#productInfo').data('baseUrl');
                    var containerId = $('#productInfo').data('containerId');
                    swal({
                        title: 'Er du sikker?',
                        text:
                            'Eventuelle drinks, som bruger denne vare vil få den fjernet og alt statistik vil kategoriseres som ukendt.',
                        type: 'warning',
                        confirmButtonText: 'Ok',
                        cancelButtonText: 'Annuller',
                        showCancelButton: true
                    }).then(function() {
                        $.ajax({
                            url: baseUrl + 'deleteproduct/' + id,
                            type: 'post',
                            success: function(check) {
                                var title = "Noget gik galt";
                                var text = "Produkt blev ikke slettet korrekt";
                                var type = "error";
                                if (check) {
                                    title = "Success";
                                    text = "Produkt blev slettet";
                                    type = "success";
                                }
                                swal({
                                    title: title,
                                    text: text,
                                    type: type,
                                    timer: 4000
                                });
                                $('#' + containerId + ' table tbody tr[data-id=' + id + ']').remove();
                            }
                        });
                    });
                });
            $('#editProduct').on('click',
                function() {
                    var id = $('#productInfo').data('id');
                    var baseUrl = $('#productInfo').data('baseUrl');
                    var containerId = $('#productInfo').data('containerId');

                    if (containerId.indexOf('drink') > -1) {
                        location.href = "/Products/EditDrink/"+id;
                        return;
                    }
                    var selectedTr = $('#' + containerId + ' table tbody tr[data-id=' + id + ']');
                    $('#editProduktModal input[data-id=produktNavn]').val(selectedTr.children('td:first').html());
                    $('#editProduktModal input[data-id=produktPris]').val(selectedTr.children('td:last').html());
                    $('#editProduktModal').css('display', 'block');
                    $('#editProduktModal footer button:nth-child(2)').on('click',
                        function() {
                            $.ajax({
                                url: baseUrl +
                                    "editproduct?navn=" +
                                    $('#editProduktModal input[data-id=produktNavn]').val() +
                                    "&pris=" +
                                    $('#editProduktModal input[data-id=produktPris]').val() +
                                    "&id=" +
                                    id,
                                type: 'post',
                                dataType: 'json',
                                success: function(check) {
                                    if (check) {
                                        getPagedVare(varePageState.page,
                                            varePageState.pageSize,
                                            varePageState.sort,
                                            varePageState.searchText,
                                            TableEvents);
                                    }

                                }
                            });
                            $('#editProduktModal').css('display', 'none');
                        });
                });

            $('#addProdukt').on('click',
                function() {
                    $('#produktToAdd').on('change',
                        function() {
                            var value = $(this).val();
                            if (value == 1) {
                                $('#produktPris').css('display', 'block');
                            } else {
                                $('#produktPris').css('display', 'none');
                            }
                        });
                    $('#produktToAdd').trigger('change');

                    $('#addProduktModal footer button:nth-child(2)').on('click',
                        function() {
                            var data = {};
                            var url = "";
                            if ($('#produktToAdd').val() == 1) {
                                url = "http://localhost:52856/api/varer/createproduct?navn=" +
                                    $('#produktNavn').val() +
                                    "&pris=" +
                                    $('#produktPris').val();
                            } else {
                                url = "http://localhost:52856/api/drink/createproduct?navn=" + $('#produktNavn').val();
                            }
                            $.ajax({
                                url: url,
                                type: 'post',
                                dataType: 'json',
                                success: function(data) {
                                    console.log(data);
                                    if (data) {
                                        var tableTarget = "#vareContainer ";
                                        var pris = 0;
                                        if (data.Ingrediense) {
                                            tableTarget = "#drinkContainer";
                                            for (var k = 0; k < data.Ingrediense.length; k++) {
                                                pris += data.Ingrediense[k].Pris;
                                            }
                                        } else {
                                            pris = data.Pris;
                                        }

                                        var html = "<tr data-id=" +
                                            data.Id +
                                            "><td>" +
                                            data.Navn +
                                            "</td><td>" +
                                            data.Tidsstempel +
                                            "</td><td>" +
                                            pris +
                                            "</td></tr>";
                                        $(tableTarget + "table tbody").append(html);
                                        $('#addProduktModal').css('display', 'none');
                                    }
                                }
                            });
                        });

                    $('#addProduktModal').css('display', 'block');
                });

            var drinkTable = $('#drinkContainer table');
            var drinkTbody = drinkTable.children('tbody');
            window.drinkPageState = {
                page: parseInt(drinkTbody.data('page')),
                pageSize: drinkTbody.data('pagesize'),
                sort: drinkTbody.data('sort'),
                searchText: drinkTbody.data('searchtext'),
                total: 0
            }

            var vareTable = $('#vareContainer table');
            var vareTbody = drinkTable.children('tbody');
            window.varePageState = {
                page: parseInt(vareTbody.data('page')),
                pageSize: vareTbody.data('pagesize'),
                sort: vareTbody.data('sort'),
                searchText: vareTbody.data('searchtext'),
                total: 0
            }


            drinkTable.find('tfoot button').on('click',
                function() {
                    if ($(this).hasClass('w3-disabled')) {
                        return;
                    }
                    if ($(this).data('command') == "prev") {
                        drinkPageState.page -= 1;
                    } else {
                        drinkPageState.page += 1;
                    }
                    getPagedDrinks(drinkPageState.page,
                        drinkPageState.pageSize,
                        drinkPageState.sort,
                        drinkPageState.searchText,
                        TableEvents);
                });

            vareTable.find('tfoot button').on('click',
                function() {
                    if ($(this).hasClass('w3-disabled')) {
                        return;
                    }
                    if ($(this).data('command') == "prev") {
                        varePageState.page -= 1;
                    } else {
                        varePageState.page += 1;
                    }
                    getPagedVare(varePageState.page,
                        varePageState.pageSize,
                        varePageState.sort,
                        varePageState.searchText,
                        TableEvents);
                });

            startTables();

            $('#searchUser').on('keypress',
                function(e) {
                    if (e.keyCode == 13) {
                        var value = $(this).val().split(':');
                        if (value[0] == "drink") {
                            drinkPageState.page = 0;
                            drinkPageState.sort = "AscNavn";
                            drinkPageState.searchText = value[1];
                            getPagedDrinks(drinkPageState.page,
                                drinkPageState.pageSize,
                                drinkPageState.sort,
                                drinkPageState.searchText,
                                TableEvents);
                        }
                        if (value[0] == "vare") {
                            varePageState.page = 0;
                            varePageState.sort = "AscNavn";
                            varePageState.searchText = value[1];
                            getPagedVare(varePageState.page,
                                varePageState.pageSize,
                                varePageState.sort,
                                varePageState.searchText,
                                TableEvents);
                        }
                    }
                });

        });

        function startTables() {
            getPagedDrinks(drinkPageState.page,
                drinkPageState.pageSize,
                drinkPageState.sort,
                drinkPageState.searchText,
                TableEvents);
            getPagedVare(varePageState.page,
                varePageState.pageSize,
                varePageState.sort,
                varePageState.searchText,
                TableEvents);
        }

        function getPagedDrinks(page, pageSize, sort, searchText, eventCallBack) {
            console.log(searchText);
            $.ajax({
                url: 'http://localhost:52856/api/drink/getpagedproducts',
                type: 'post',
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify({
                    page: page,
                    pageSize: pageSize,
                    sort: sort,
                    searchText: searchText
                }),
                success: function(data) {
                    var drinks = data.Drinks;
                    drinkPageState.total = data.Total;
                    var html = "";
                    for (var i = 0; i < drinks.length; i++) {
                        var pris = 0;
                        if (drinks[i].Ingrediense) {
                            for (var k = 0; k < drinks[i].Ingrediense.length; k++) {
                                pris += drinks[i].Ingrediense[k].Pris;
                            }
                        }
                        html += "<tr data-id=" +
                            drinks[i].Id +
                            "><td>" +
                            drinks[i].Navn +
                            "</td><td>" +
                            parseDate(drinks[i].Tidsstempel) +
                            "</td><td>" +
                            pris +
                            "</td></tr>";

                    }
                    $('#drinkContainer table tbody').html(html);
                    eventCallBack();
                    disableButtons('drinkContainer',
                        drinkPageState.page,
                        drinkPageState.pageSize,
                        drinkPageState.total);
                }
            });

        }

        function disableButtons(id, page, pageSize, total) {
            if (page == 0) {

                $('#' + id + ' table tfoot button[data-command=prev]').addClass('w3-disabled');
            } else {
                $('#' + id + ' table tfoot button[data-command=prev]').removeClass('w3-disabled');
            }
            if (page * pageSize + pageSize >= total) {
                $('#' + id + ' table tfoot button[data-command=next]').addClass('w3-disabled');
            } else {
                $('#' + id + ' table tfoot button[data-command=next]').removeClass('w3-disabled');
            }
        }

        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }

        function getPagedVare(page, pageSize, sort, searchText, eventCallBack) {
            var cookie = getCookie('.ASPXAUTH');
            console.log(document.cookie);
            $.ajax({
                url: 'http://localhost:52856/api/varer/getpagedproducts',
                type: 'post',
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                headers: { Cookie: cookie },
                data: JSON.stringify({
                    page: page,
                    pageSize: pageSize,
                    sort: sort,
                    searchText: searchText
                }),
                success: function(data) {
                    var varer = data.Varer;
                    varePageState.total = data.Total;
                    var html = "";
                    for (var i = 0; i < varer.length; i++) {
                        html += "<tr data-id=" +
                            varer[i].Id +
                            "><td>" +
                            varer[i].Navn +
                            "</td><td>" +
                            parseDate(varer[i].Tidsstempel) +
                            "</td><td>" +
                            varer[i].Pris +
                            "</td></tr>";
                    }
                    $('#vareContainer table tbody').html(html);
                    eventCallBack();
                    disableButtons('vareContainer', varePageState.page, varePageState.pageSize, varePageState.total);
                }
            });
        }

        function TableEvents() {
            $('table tbody tr').on('click',
                function() {
                    $('tbody tr.w3-blue').removeClass('w3-blue');
                    $(this).addClass('w3-blue');
                });

            $('#drinkContainer tbody tr').on('click',
                function() {
                    renderInfo($(this).data('id'), 'http://localhost:52856/api/drink/', 'drinkContainer');
                });

            $('#vareContainer tbody tr').on('click',
                function() {
                    renderInfo($(this).data('id'), 'http://localhost:52856/api/varer/', 'vareContainer');
                });
        }

        function renderInfo(id, baseUrl, containerId) {
            $('#productInfo').data('id', id);
            $('#productInfo').data('baseUrl', baseUrl);
            $('#productInfo').data('containerId', containerId);
            $('#productInfo').css('display', 'block');

            loadStats(id, baseUrl, 'statisticsContainer');

        }

        function parseDate(dateString) {
            var dateArray = dateString.split(/-|T/g);
            return dateArray[2] + '-' + dateArray[1] + '-' + dateArray[0];
        }

        function loadStats(id, baseUrl, containerId) {
            $.ajax({
                url: baseUrl + 'GetStats?id=' + id,
                type: 'get',
                success: function(data) {
                    var html =
'<div class="w3-container">' +
    '<div class="w3-row-padding w3-margin-bottom w3-margin-top">'+
        '<div class="w3-quarter">'+
            '<div class="w3-container w3-blue w3-padding-16">'+
                '<div class="w3-left"><i class="fa fa-credit-card w3-xxxlarge"></i></div>'+
            '   <div class="w3-right">'+
                        '<h3>' + data.SolgtTotal +'</h3>'+
                '</div>'+
                '<div class="w3-clear"></div>'+
                '<h4>Solgt total</h4>'+
            '</div>'+
        '</div>'+
    '</div>'+
    '<div class="w3-row-padding w3-margin-bottom">' +
        '<div class="w3-col m12">' +
            '<canvas id="yearOrdreCount" style="display: block; width: 100%; height: 305px;"></canvas>' +
        '</div>' +
    '</div>' +
    '<div class="w3-row-padding w3-margin-bottom">' +
        '<div class="w3-col m12">' +
            '<canvas id="yearOrdrePrice" style="display: block; width: 100%; height: 305px;"></canvas>' +
        '</div>' +
    '</div>'+
'</div>';

                    $('#' + containerId).html(html);
                    var ordreCount = new Chart(document.getElementById("yearOrdreCount").getContext("2d"),
                        {
                            type: 'line',
                            data: {
                                labels: [
                                    'januar', 'februar', 'marts', 'april', 'maj', 'juni', 'juli', 'august', 'september',
                                    'oktober', 'november', 'december'
                                ],
                                datasets: [
                                    {
                                        label: "Total antal ordre",
                                        backgroundColor: "rgba(102, 204, 255,0.2)",
                                        borderColor: "rgba(102, 204, 255,1)",
                                        pointBorderColor: "#fff",
                                        data: data.SolgtTotalYear
                                    }
                                ]
                            },
                            options: {}
                        });
                    var ordrePrice = new Chart(document.getElementById("yearOrdrePrice").getContext("2d"),
                        {
                            type: 'line',
                            data: {
                                labels: [
                                    'januar', 'februar', 'marts', 'april', 'maj', 'juni', 'juli', 'august', 'september',
                                    'oktober', 'november', 'december'
                                ],
                                datasets: [
                                    {
                                        label: "Total beløb",
                                        backgroundColor: "rgba(102, 226, 40,0.2)",
                                        borderColor: "rgba(102, 226, 40,1)",
                                        pointBorderColor: "#fff",
                                        data: data.SolgtPriceTotalYear
                                    }
                                ]
                            },
                            options: {}
                        });
                }
            });
        }
    </script>
}