@model int
@{
    ViewBag.Title = "Home Page";
}

<div class="w3-container">
    <div id="userContainer">
        
    </div>
</div>

@section scripts
{
    <script src="/Scripts/Paulscripts/loadUserStats.js"></script>
    <script>
        $(function() {
            loadUserStats(@Model, 'userContainer');
        });
    </script>
}
